*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

body{
    background-color: lightsteelblue;
}

header h1{
    text-align: center;
}

.container{
    height: 800px;
    width: 1000px;
    background-color: lightyellow;
    border-radius: 15px;
    margin: 40px auto;
}